*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Space Mono";
}

p {
  font-family: "Lexend Deca";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 180px;
  max-width: 100%;
  text-align: center;
  padding: 11px 0;
  background-color: #FCB72B;
  border: 3px solid #FCB72B;
  color: #fff;
}

.btn:hover {
  background-color: transparent;
  color: #FCB72B;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  z-index: 9;
}

.header__modalwrapper {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__subbox {
  width: 256px;
  background-color: #333A44;
  padding: 64px 0 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}

.header__iconactive {
  display: none;
}

.header__label {
  display: none;
}

.header__iconnormal {
  display: none;
}

.header__nav {
  padding: 0 10px;
  margin: 0 auto;
  width: 1110px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper {
  width: 415px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__link:hover {
  color: #FCB72B;
}

.header__button {
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

.check {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 768px) {
  .header__nav {
    width: 690px;
  }
}

@media screen and (max-width: 525px) {
  .header__nav {
    padding-left: 32px;
  }
  .header__label {
    display: inline-block;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 18px;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .header__iconnormal {
    display: block;
  }
  .header #check:checked ~ .header__modalwrapper {
    display: block;
  }
  .header__sublink {
    color: #fff;
  }
  .header__subitem {
    margin: 0;
    margin-bottom: 24px;
  }
  .header__subitem:last-child {
    margin-bottom: 0;
  }
  .header__button {
    display: none;
  }
}

.intro {
  margin-top: 97px;
}

.intro__list {
  max-width: 100%;
  position: relative;
  padding: 152px 0 152px 165px;
  background-image: url("/img/intro-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  margin: 0;
  width: 500px;
  max-width: 100%;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0;
  margin-left: 95px;
  width: 410px;
  max-width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.intro__text::before {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  display: inline-block;
  width: 203px;
  height: 15px;
  content: "";
  background-image: url("/img/intro-line-icon.svg");
  background-repeat: no-repeat;
}

.intro__text::after {
  position: absolute;
  -webkit-transform: translateY(-35px) translateX(285px);
          transform: translateY(-35px) translateX(285px);
  display: inline-block;
  width: 451px;
  height: 150px;
  content: "";
  background-image: url("/img/intro-arrov.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1154px) {
  .intro__text::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 137px 0 217px;
    background-position-y: center;
    background-position-x: -550px;
    overflow: hidden;
  }
  .intro__title {
    width: 75%;
    text-align: center;
  }
  .intro__text {
    margin: 28px 0;
    width: 75%;
    text-align: center;
  }
  .intro__text::before {
    display: none;
  }
  .intro__text::after {
    display: inline-block;
    -webkit-transform: translateY(150px) translateX(-670px);
            transform: translateY(150px) translateX(-670px);
  }
}

@media screen and (max-width: 525px) {
  .intro {
    margin-top: 60px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    margin-top: 60px;
  }
  .intro__list {
    padding: 115px 0 179px;
    background-position-x: -940px;
  }
  .intro__title {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.78571px;
  }
  .intro__text {
    width: 90%;
    margin: 24px 0 34px;
  }
  .intro__text::after {
    background-size: cover;
    -webkit-transform: translateY(120px) translateX(-540px);
            transform: translateY(120px) translateX(-540px);
  }
}

.category {
  margin-top: 160px;
}

.category__line {
  width: 930px;
  max-width: 100%;
  border: 7px solid #E5ECF4;
}

.category__menu {
  margin-top: -60px;
  margin-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__item {
  width: 350px;
  margin-right: 30px;
}

.category__item:last-child {
  margin-right: 0;
}

.category__title {
  margin: 40px 0 27px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.category__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media screen and (max-width: 1140px) {
  .category__line {
    width: 840px;
  }
}

@media screen and (max-width: 1005px) {
  .category__line {
    width: 747px;
  }
}

@media screen and (max-width: 865px) {
  .category__line {
    width: 655px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    margin-top: 122px;
  }
  .category__line {
    -webkit-transform: rotate(90deg) translateX(127px) translateY(110px);
            transform: rotate(90deg) translateX(127px) translateY(110px);
    z-index: -1;
    width: 512px;
  }
  .category__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category__menu {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category__item {
    margin-right: 0;
    margin-bottom: 40px;
    width: 573px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .category__item:last-child {
    margin-bottom: 0;
  }
  .category__item--box {
    margin-left: 79px;
  }
  .category__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .category__line {
    display: none;
  }
  .category__pic {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
  }
  .category__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category__item--box {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category__title {
    width: 100%;
    text-align: center;
  }
  .category__text {
    width: 90%;
    text-align: center;
  }
}

.more {
  overflow: hidden;
  margin: 200px 0 329px;
  position: relative;
}

.more__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more__box {
  width: 445px;
  max-width: 100%;
}

.more__item {
  margin-bottom: 160px;
  width: 1110px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__item:last-child {
  margin-bottom: 0;
}

.more__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.more__item img {
  border-radius: 50%;
}

.more__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.more__text {
  margin: 24px 0 40px;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.first-item::after {
  display: inline-block;
  content: "";
  width: 700px;
  background-image: url("/img/main-arrov.svg");
  height: 150px;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  -webkit-transform: translateY(150px) translateX(70px);
          transform: translateY(150px) translateX(70px);
}

.second-item::after {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  content: "";
  width: 700px;
  background-image: url("/img/main-arrov.svg");
  height: 150px;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  -webkit-transform: rotate(0.5turn) translateY(130px) translateX(340px);
          transform: rotate(0.5turn) translateY(130px) translateX(340px);
}

.third-item::after {
  display: inline-block;
  content: "";
  width: 700px;
  background-image: url("/img/main-arrov.svg");
  height: 150px;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-80px) translateX(340px);
          transform: translateY(-80px) translateX(340px);
}

@media screen and (max-width: 768px) {
  .more {
    margin: 145px 0 105px;
  }
  .more__item {
    margin-bottom: 120px;
    width: 573px;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .more__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .more__box {
    margin-top: 56px;
    text-align: center;
  }
  .more__title {
    width: 100%;
  }
  .more__text {
    margin: 40px 0;
    width: 100%;
  }
  .first-item::after {
    -webkit-transform: translateY(-390px) translateX(60px);
            transform: translateY(-390px) translateX(60px);
  }
  .second-item::after {
    -webkit-transform: rotate(180deg) translateY(630px) translateX(380px);
            transform: rotate(180deg) translateY(630px) translateX(380px);
  }
  .third-item::after {
    -webkit-transform: translateY(-590px) translateX(355px);
            transform: translateY(-590px) translateX(355px);
  }
}

@media screen and (max-width: 525px) {
  .more__item img {
    width: 311px;
    height: 311px;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .more__box {
    padding: 0 20px;
  }
  .first-item::after {
    -webkit-transform: translateY(-390px) translateX(350px);
            transform: translateY(-390px) translateX(350px);
  }
  .second-item::after {
    -webkit-transform: rotate(180deg) translateY(530px) translateX(500px);
            transform: rotate(180deg) translateY(530px) translateX(500px);
  }
  .third-item::after {
    -webkit-transform: translateY(-530px) translateX(510px);
            transform: translateY(-530px) translateX(510px);
  }
}

@media screen and (max-width: 375px) {
  .more__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
}

.last {
  background-image: url("/img/Mask.svg");
  background-size: cover;
}

.last__list {
  padding: 102px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last__title {
  width: 415px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.last__box {
  width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .last {
    background-position-y: center;
    background-position-x: -700px;
  }
  .last__list {
    padding: 62px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last__title {
    width: 457px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 525px) {
  .last__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-width: 375px) {
  .last {
    background-position-x: 470px;
  }
  .last__list {
    padding: 88px 0;
  }
  .last__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  .last__box {
    width: 256px;
  }
  .last__box img {
    width: 113px;
    height: 40px;
  }
}

.footer {
  background-color: #333A44;
}

.footer__list {
  margin: 0 auto;
  width: 1110px;
  max-width: 100%;
  padding: 35px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav {
  width: 417px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-right: 32px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  color: #939CAA;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

.footer__box {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  fill: #FCB72B;
  width: 24px;
  height: 24px;
}

.footer__icon:hover {
  fill: #fff;
}

@media screen and (max-width: 525px) {
  .footer__list {
    padding: 64px 0 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    margin: 41px 0 85px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin: 0;
    margin-bottom: 16px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */